#Agent agent1
#######################################################
agent1.channels.agent1-channel.type = memory

agent1.sources.tail-source.type = exec
agent1.sources.tail-source.command = tail -f /tmp/flm/f1.log
agent1.sources.tail-source.channels = agent1-channel

agent1.sinks.avro-sink.type = avro
agent1.sinks.avro-sink.hostname = localhost
agent1.sinks.avro-sink.port = 10111
agent1.sinks.avro-sink.channel = agent1-channel

#Agent ag_avro
agent1.channels.agent1-channel.type = memory
agent1.channels.agent1-channel.capacity = 1000000
ag_avro.channels.ag_avro-channel.type = memory
agent1.channels.ag_avro-channel.capacity = 1000000

ag_avro.sources.avro-source.type = avro
ag_avro.sources.avro-source.bind = 0.0.0.0
ag_avro.sources.avro-source.port = 10111
ag_avro.sources.avro-source.channels = ag_avro-channel


# Define a sink that outputs to hdfs.
#######################################################
ag_avro.sinks.hdfs-sink.channel = ag_avro-channel
ag_avro.sinks.hdfs-sink.type = hdfs
ag_avro.sinks.hdfs-sink.hdfs.path = /user/cloudera/flm/%y-%m-%d/%H%M

ag_avro.sinks.hdfs-sink.hdfs.useLocalTimeStamp=true
ag_avro.sinks.hdfs-sink.hdfs.filePrefix = events
:q
ag_avro.sinks.hdfs-sink.hdfs.round = true
ag_avro.sinks.hdfs-sink.hdfs.roundValue = 3
ag_avro.sinks.hdfs-sink.hdfs.roundUnit = minute

ag_avro.sinks.hdfs-sink.hdfs.fileType = DataStream
ag_avro.sinks.hdfs-sink.hdfs.rollCount = 1000
ag_avro.sinks.hdfs-sink.hdfs.rollInterval = 0
ag_avro.sinks.hdfs-sink.hdfs.rollSize = 0
ag_avro.sinks.hdfs-sink.hdfs.idleTimeout = 200

agent1.channels = agent1-channel
agent1.sources = tail-source
agent1.sinks = avro-sink

ag_avro.channels = ag_avro-channel
ag_avro.sources = avro-source
ag_avro.sinks = hdfs-sink
