ag_logger.channels.memory-channel.type = memory

# Define a source of type exec

ag_logger.sources.tail-source.type = exec

ag_logger.sources.tail-source.command = tail -f /home/cloudera/flume/f1.log

ag_logger.sources.tail-source.channels = memory-channel



# Define a sink that outputs to log.

ag_logger.sinks.log-sink.channel = memory-channel

ag_logger.sinks.log-sink.type = logger



ag_logger.channels = memory-channel

ag_logger.sources = tail-source

ag_logger.sinks = log-sink
